:root {
  --color-blue: #2196f3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-black: #212121;
  --color-text-grey: #757575;
  --color-solid: rgba(255, 255, 255, 0.6);
  --color-footer-backgr: #2f303a;
}

body {
  color: var(--color-text-black);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/*Header---------------------------------------------------------------*/

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo-black {
  color: var(--color-black);
}
.logo-blue {
  color: var(--color-blue);
}
.header .link {
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
}
.link.current {
  color: var(--color-blue);
}
.header-list .link {
  color: var(--color-text-grey);
}
.header .link:hover,
.header .link:focus {
  color: var(--color-blue);
}

/*Section baner----------------------------------------------------*/
.baner-title {
  background-color: #2f303a;
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.baner-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/*section descript---------------------------------------------------*/

.descript-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
}
.descript-paragraf {
  line-height: 1.7;
  text-align: left;
}

/*section working----------------------------------------------------*/
.working-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*section comand-----------------------------------------------------*/
.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.comand-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.comand-paragraf {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

/*Page Portfolio+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.portfolio button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
/*presentation*/
.presentation-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.presentation-paragraf {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--color-text-grey);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}
/*footer===================================================================*/
.footer {
  background-color: var(--color-footer-backgr);
  line-height: 1.7;
  text-align: left;
}
.logo-white {
  color: var(--color-white);
}
address {
  font-style: inherit;
}
.footer-link {
  color: var(--color-solid);
  text-decoration: none;
}
.footer-address {
  color: var(--color-white);
}
