:root {
  --color-blue: #2196f3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-black: #212121;
  --color-text-grey: #757575;
  --color-solid: rgba(255, 255, 255, 0.6);
  --color-solid-button: #afb1b8;
  --color-footer-backgr: #2f303a;
  --interval: 30px;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  color: var(--color-text-black);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul,
li,
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid orangered; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.descript-item:not(:last-child),
.comand-list-item:not(:last-child),
.working-list-item:not(:last-child) {
  margin-right: var(--interval);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Header---------------------------------------------------------------*/

.header {
  border: 1px solid #ececec;
  /* outline: 2px solid springgreen; */
}
.header-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav {
  margin-left: 93px;
}
.header-item {
  display: flex;
  align-items: top;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo-black {
  color: var(--color-black);
}
.logo-blue {
  color: var(--color-blue);
}
.header-nav-list {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  /* background-color: cadetblue; */
}
.header-item-link {
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-item-link.current {
  color: var(--color-blue);
}
.header-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  /* align-items: center; */
}
.header-item-link {
  display: flex;
  align-items: center;
  color: var(--color-text-grey);
}
/* .header-item::before {
  display: inline-block;
  content: '';
  height: 16px;
  /* background-color: var(--color-solid-button); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  margin-right: 10px;
}*/
.mail-icon,
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--color-blue);
}

/*Section baner----------------------------------------------------*/

.baner {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*vertical-align: middle;*/
}
.baner-title {
  color: var(--color-white);
  width: 696px;
  margin: 0px auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.baner-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  width: 200px;
  height: 50px;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/*section descript---------------------------------------------------*/

.descript-list {
  display: flex;
}
.descript-item {
  flex-basis: calc(100% / 4);
  /* justify-content: space-between; */
  /* outline: 2px solid orange; */
}
.descript-beefor {
  background-color: var(--color-solid-button);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: var(--interval);
  border-radius: 4px;
}
.descript-icon {
  width: 70px;
  height: 70px;
}
/* .descript-item::before {
  display: block;
  content: '';
  background-color: var(--color-solid-button);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  height: 120px;
  border-radius: 4px;
}

.descript-icon1::before {
  background-image: url(../img/antenna.svg);
}
.descript-icon2::before {
  background-image: url(../img/clock.svg);
}
.descript-icon3::before {
  background-image: url(../img/diagram.svg);
}
.descript-icon4::before {
  background-image: url(../img/astronaut.svg);
}
.descript-item:not(:last-child) {
  margin-right: var(--interval);
} */
.descript-title {
  margin-top: 0;
  margin-bottom: 10;
  padding-top: 0;
  padding-bottom: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-transform: uppercase;
}
.descript-paragraf {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.7;
  text-align: left;
}

/*section working----------------------------------------------------*/
.working {
  padding-top: 0px;
  /* outline: 2px solid green; */
}
.working-list {
  display: flex;
}
.working-list-item {
  flex-basis: calc(100% / 3);
  justify-content: space-between;
  /* outline: 2px solid orange; */
}

.descript-item {
  flex-basis: calc(100% / 4);
  justify-content: space-between;
  /* outline: 2px solid orange; */
}

.working-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*section comand-----------------------------------------------------*/
.comand {
  background-color: #f5f4fa;
  /* outline: 2px solid blue; */
}
.comand-list {
  display: flex;
}
.comand-list-item {
  flex-basis: calc(100% / 4);
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f; */
  border-radius: 0px 0px 4px 4px;
  /* outline: 2px solid orange; */
}
.comand-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.comand-title-name {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.comand-paragraf {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.comands-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.comand-link {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}
.socc-icon {
  width: 20px;
  height: 20px;
}

.icon-link {
  fill: var(--color-solid-button);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.join-link-item:not(:last-child),
.comand-link-item:not(:last-child) {
  margin-right: 10px;
}
.icon-link:hover,
.icon-link:focus {
  background-color: var(--color-blue);
  fill: white;
  border-radius: 50%;
}
/*+++ Постійні клієнти  +++++++++++++++++++++++++++++*/
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.regular-icon {
  display: flex;
  justify-content: space-between;
}

.client-link {
  fill: var(--color-solid-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-solid-button);
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.client-link:hover,
.client-link:focus {
  fill: var(--color-blue);
  border-color: var(--color-blue);
}
/*++  Page Portfolio    +++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-list-item:not(:last-child) {
  margin-right: 30px;
}
.portfolio-button {
  background-color: #f5f4fa;
  width: auto;
  height: 38px;
  padding: 6px 22px;
  border: none;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
/*presentation*/
.presentation {
  margin-top: calc(-1 * (var(--interval)));
  margin-left: calc(-1 * (var(--interval)));
}
.presentation-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.presentation-list-item {
  flex-basis: calc((100% / 3) - (var(--interval)));
  margin-top: var(--interval);
  margin-left: var(--interval);
  /* outline: 1px solid red; */
}
.cards-content {
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 20px 24px;
}
.presentation-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.presentation-paragraf {
  margin-bottom: 4;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--color-text-grey);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.presentation-card-link:hover,
.presentation-card-link:focus {
  display: block;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*footer===================================================================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-footer-backgr);
  line-height: 1.7;
  text-align: left;
}
.footer-block {
  display: flex;
  align-items: baseline;
}
.logo-white {
  color: var(--color-white);
}
address {
  font-style: inherit;
}
.footer-link {
  color: var(--color-solid);
  text-decoration: none;
}
.footer-address {
  color: var(--color-white);
}
.footer-list:first-child {
  margin-bottom: 6px;
}
.footer-list:last-child {
  margin-top: 6px;
}
.join {
  margin-left: 70px;
  /* width: 206px;
  height: 80px; */
}
.join-paragraf {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.join-link-item {
  background-color: #44454e;
  box-sizing: 44px;
  border-radius: 50%;
}
.join-link {
  display: flex;
}
.join-socc-icon {
  fill: white;
}
