:root {
  --color-blue: #2196f3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-black: #212121;
  --color-text-grey: #757575;
  --color-solid: rgba(255, 255, 255, 0.6);
  --color-solid-button: #f5f4fa;
  --color-footer-backgr: #2f303a;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  color: var(--color-text-black);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  /*background-color: tomato;*/
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 4px solid orangered;
  /*align-content: center;*/
}

/*Header---------------------------------------------------------------*/

.header {
  outline: 2px solid springgreen;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo-black {
  color: var(--color-black);
}
.logo-blue {
  color: var(--color-blue);
}
.header .link {
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
}

.link.current {
  color: var(--color-blue);
}
.header-list .link {
  color: var(--color-text-grey);
}
.header .link:hover,
.header .link:focus {
  color: var(--color-blue);
}

/*Section baner----------------------------------------------------*/
.hero {
}
.baner {
  background-color: #2f303a;

  height: 600px;
  margin-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /*vertical-align: middle;*/
}
.baner-title {
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.baner-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  width: 200px;
  height: 50px;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/*section descript---------------------------------------------------*/
.descript {
  margin-bottom: 94px;
  outline: 2px solid tomato;
}
.descript-title {
  margin-top: 0;
  margin-bottom: 10;
  padding-top: 0;
  padding-bottom: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-transform: uppercase;
}
.descript-paragraf {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.7;
  text-align: left;
}

/*section working----------------------------------------------------*/
.working {
  margin-bottom: 94px;
  outline: 2px solid green;
}
.working-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*section comand-----------------------------------------------------*/
.comand {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid blue;
}
.comand-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.comand-title-name {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.comand-paragraf {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

/*Page Portfolio+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
  outline: 2px solid green;
}
.portfolio-list {
  /*height: 54px;*/
  margin-bottom: 34px;
  padding-left: auto;
  padding-right: auto;
}
.portfolio button {
  background-color: var(--color-solid-button);
  width: auto;
  height: 38px;
  border: none;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
/*presentation*/
.presentation-title {
  margin: 20px 24px 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.presentation-paragraf {
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--color-text-grey);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}
/*footer===================================================================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-footer-backgr);
  line-height: 1.7;
  text-align: left;
}
.logo-white {
  margin-bottom: 20px;
  color: var(--color-white);
}
address {
  font-style: inherit;
}
.footer-link {
  color: var(--color-solid);
  text-decoration: none;
}
.footer-address {
  color: var(--color-white);
}
.footer-list:first-child {
  margin-bottom: 6px;
}
.footer-list:last-child {
  margin-top: 6px;
}
