.logo {
  color: $color-blue;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  &-black {
    color: $color-black;
  }
  
  &-white {
    color: $color-white;
  }
}
